{% extends "admin_layout/adminLayout.html" %}
{% block title %} About Us Page {% endblock %}
{% block container %}
<div align="center">
    <img style="height:200px;"src="static/images/meokB.png"/>
    <p>meOk is being founded in 2021 by a group of SIT ICT students.</p>
    <p>We care about security purpose more than design based.</p>
    <p>We welcome you to discuss any topic in here and we will protect your identity but if there is any improper things posted we will delete your post away.</p>
    <p>If you have any queries feel free to email us. </p>
    <h2>Email: ict3x03meok@gmail.com</h2>
</div>
{% endblock %}

