<!DOCTYPE html>
{% extends "user_layout/base.html" %}
{% block title %} Login {% endblock %}
{% block container %}
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
<form action="forgetPassword" method="POST">
    <h3 align="center">Forget Password</h3>
    <div class="form-group">
        <label for="email">Email</label>
        <i class="fas fa-envelope"></i>
        <input type="email" class="form-control" id="email" name="email" placeholder="jenny@gmail.com" required/>
    </div>
    <button type="submit" class="btn btn-colour" value="Submit">Submit</button>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    </div>
</form>
    {% endblock %}
</body>
</html>
