<!DOCTYPE html>
{% extends "user_layout/base.html" %}
{% block container %}
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</head>
<body>
<form method="POST">
    <h3 align="center">Creation of New Password</h3>
    <div class="form-group">
        <label for="password">New Password</label>
        <i class="fas fa-lock"></i>
        <input type="password" class="form-control" id="password" name="password" pattern=".{8,64}" title="Password must be between 8 to 64 characters" oninput="validatePassword('password','confirmPassword');" required/>
        <label for="confirmPassword">Confirm Password</label>
        <i class="fas fa-lock"></i>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" pattern=".{8,64}" title="Password must be between 8 to 64 characters" oninput="validatePassword('password','confirmPassword');" required/>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    </div>
    <button type="submit" class="btn btn-colour">Submit</button>
    </div>
</form>
    {% endblock %}
</body>
</html>
